:root {
    --title-color: #14183e;
    --accent-color: #5E6282;
    --accent-text: #212832;
    --bg-color: #fff1da;
    --line-haight: 124.5%;
    --transition: all .4s;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5vw;
}

.body {
    font-family: 'Poppins';
    color: var(--accent-text);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1230px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


.title {
    color: var(--title-color);
    font-family: 'Volkhov';
    font-size: 84px;
    line-height: 89px;
}

.button {
    display: flex;
    width: 170px;
    padding: 19px 27px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #f1a501;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    font-family: 'Google Sans';
    color: #fff;
    transition: all 0.4s;
}

.button:hover {
    background: #FF9138;
}

.description {
    color: var(--accent-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

/* ------------- */
.header {
    background: url(../image/decore/fone.png) 80% -230px / cover no-repeat;
    background-size: 140% 95%;
}

.header__top {
    padding-top: 48px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__img {
    max-width: 115px;
}

.header__img img {
    width: 100%;
}

/* ---- */

.nav__list {
    display: flex;
    gap: 60px;
}

.nav__link {
    color: #212832;
    font-family: 'Google Sans';
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
}

.block {
    display: flex;
    gap: 42px;
    align-items: center;
}

.sing-up {
    padding: 9px 21px;
    border: 1px solid var(--accent-text);
    border-radius: 5px;
    transition: all 0.4s;
    position: relative;
}

.sing-up:hover {
    color: var(--bg-color);
    background-color: var(--accent-text);
}

/* -------- */
.language {
    display: block;
    position: relative;
    color: #212832;
    font-family: 'Google Sans';
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 14px;
    transition: var(--transition);
    max-width: 45px;
}

.language-list {
    position: absolute;
    top: 45%;
    left: -50%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-height: 120px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    line-height: 1.8;
}

.language-item {
    white-space: nowrap;
}

.language-active .language-nav svg {
    transform: rotate(180deg);
}

.language-active path {
    stroke: #c4c4c4;
}

.language-active .language-nav {
    color: #c4c4c4;
}

.language-active .language-list {
    padding: 10px 18px;
    opacity: 1;
    text-align: center;
    visibility: visible;
}

/*  */
.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    width: 30px;
    height: 3px;
    border-radius: 50%;
    display: block;
    background: #06070e;
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: ' ';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background-color: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0;
    transform: rotate(135deg);
}

.header__hero {
    padding: 18px 0 97px;
}

/* ----- */

.hero__inner {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.hero__contant {
    max-width: 590px;
    width: 100%;
}

.hero__info {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #DF6951;
    margin: 130px 0 24px;
}

.hero__title {
    color: #181e4b;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}

.img-decor {
    position: absolute;
    top: 73px;
    right: -68px;
    z-index: -1;
}

.hero__text {
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 34px;
    max-width: 477px;
}

.hero__img-control {
    display: flex;
    gap: 21px;
    flex-direction: row;

    align-items: center;
}

.hero__img-control--mobail {
    display: none;
}

.flex {
    display: flex;
    gap: 44px;
}

.hero__img-button {
    display: flex;
    box-shadow: 0px 15px 30px 0px #df69514d;
    background: #df6951;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero__img-button::before {
    content: '';
    box-shadow: 0px 15px 30px 0px #df69514d;
    border: 2px solid #5198df;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    inset: 2px;
    transition: all 0.4s;
}

.hero__img-button:hover::before {
    opacity: 1;
}


.hero__img {
    max-width: 765px;
}

.hero__img img {
    width: 100%;
}

/* ----- */

.modal {
    position: fixed;
    background-color: #00000070;
    z-index: 5;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: var(--transition);
    overflow: 0;
    visibility: hidden;
    opacity: 0;
}

.body-opened--modal .modal {
    visibility: visible;
    overflow: 1;
    opacity: 1;
}

.modal__window {
    position: relative;
    padding: 20px 60px 60px;
    max-width: 500px;
    background-color: #fff;
    border-radius: 25px;
}

.modal__closed {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__consel path, rect {
    transition: var(--transition);
}

.modal__consel:hover path,
.modal__consel:hover rect {
    stroke: coral;
}

.modal__title {
    font-size: 40px;
    line-height: .9;
    margin-bottom: 15px;
    text-align: center;
}

.modal__text {
    margin-bottom: 30px;
    text-align: center;
}

.field {
    display: block;
    position: relative;
}

.field span {
    position: absolute;
    font-size: 11px;
    color: var(--input-color);
    top: 12px;
    left: 28px;
    opacity: 0;
    visibility: hidden;
    transition: var(--teansition);
}

.field__input {
    display: block;
    border: 1px solid var(--accent-text);
    border-radius: 30px;
    padding: 5px 20px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 16px;
    transition: var(--transition);
}

.field__input::placeholder {
    color: #5198df;
    transition: var(--transition);
}

.field__input:focus {
    padding: 26px 28px 12px 28px;
}

.field__input:focus+span {
    visibility: visible;
    opacity: 1;
}

/* ------ */
.main__category {
    padding-bottom: 123px;
}

.category__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.category__decore{
    position: absolute;
    top: 0;
    right: 0;
}


.category__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 108px;
}

.category__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 120px;
    max-width: 1120px;
}

.category__item {
    transition: var(--transition);
    background: #fff;
    max-width: 190px;
    position: relative;
    width: 100%;
    padding: 0 10px 10px;
}

.category__item:hover {
    max-width: 190px;
    border-radius: 40px;
    box-shadow: 0px 1.85px 3.15px 0px #00000000, 0px 8.15px 6.52px 0px #00000003, 0px 20px 13px 0px #00000003, 0px 38.52px 25.48px 0px #00000003, 0px 64.81px 46.85px 0px #00000005, 0px 100px 80px 0px #00000005;
}

.category__item:hover::before {
    content: '';
    width: 100px;
    height: 100px;
    background-color: #DF6951;
    border-radius: 30px 40px 10px 0px;
    position: absolute;
    bottom: -33px;
    left: -35px;
    z-index: -1;
    animation: category-hover .5s;
}

@keyframes category-hover {
    0% {
        transform: scale(.5);
        background-color: #fff;
    }

    100% {
        transform: scale(1);
        background-color: #DF6951;
    }
}



.category__item-title {
    color: var(--accent-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 15px;
    text-align: center;
}

.category__item-text {
    color: var(--accent-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;

}

.category__item-img {
    position: relative;
    margin: 0 auto 35px;
    z-index: 2;
}

.dish {
    display: flex;
    justify-content: center;
    position: relative;
}

.dish::after {
    content: '';
    width: 50px;
    height: 50px;
    background-color: var(--bg-color);
    border-radius: 18px 5px 10px 5px;
    position: absolute;
    bottom: -10px;
    right: 25px;
    z-index: -1;
}

.plane {
    display: flex;
    justify-content: center;
    position: relative;
}

.plane::after {
    content: '';
    width: 50px;
    height: 50px;
    background-color: var(--bg-color);
    position: absolute;
    z-index: -1;
    border-radius: 5px 10px 5px 18px;
    top: -15px;
    left: 69px;
}

.microphone {
    display: flex;
    justify-content: center;
    position: relative;
}

.microphone::after {
    content: '';
    width: 50px;
    height: 50px;
    background-color: var(--bg-color);
    position: absolute;
    z-index: -1;
    border-radius: 5px 18px 5px 10px;
    top: -5px;
    right: 50px;
}

.gear {
    display: flex;
    justify-content: center;
    position: relative;
}

.gear::after {
    content: '';
    width: 50px;
    height: 50px;
    background-color: var(--bg-color);
    position: absolute;
    z-index: -1;
    border-radius: 5px 10px 5px 18px;
    bottom: -18px;
    right: 43px;
}

/* ---------- */
.main__selling {
    margin-bottom: 184px;
}

.selling__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
    position: relative;
}

.selling__title {
    margin-bottom: 60px;
    font-size: 50px;
    line-height: 65px;
}

.selling-slide {
    position: relative;
    max-width: 314px;
    box-shadow: 0px 1.85px 3.15px 0px #00000000, 0px 8.15px 6.52px 0px #00000003, 0px 20px 13px 0px #00000003, 0px 38.52px 25.48px 0px #00000003, 0px 64.81px 46.85px 0px #00000005, 0px 100px 80px 0px #00000005;
}

.img__decore {
    position: absolute;
    top: 230px;
    right: 20px;
}

.selling-wrapper {
    gap: 45px;
    display: flex;
    position: relative;
}


.selling__img {
    max-width: 314px;
}

.selling__img img {
    border-radius: 24px;
    width: 100%;
}

.selling__info {
    position: absolute;
    bottom: -22px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    max-height: 130px;
    border-radius: 0 0 24px 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 28px 20px 0 25px;
}

.selling__info-price {
    justify-self: end;
}

.selling__info-trip {
    margin: 18px 0 42px;
}

.selling__info-trip img {
    margin-right: 13px;
}

.selling__slider {
    position: relative;
    width: 100%;
    max-width: 1100px;
}

.selling-button-next {
    position: absolute;
    top: 0;
    right: 32px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8787872a;
    height: calc(100% - 35px);
    width: 100px;
    border-radius: 0 24px 24px 0;
    transition: var(--transition);
}

.selling-button-prev {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8787872a;
    height: 100%;
    width: 100px;
    border-radius: 24px 0 0 24px;
    transition: var(--transition);
}

.selling-button-next:hover,
.selling-button-prev:hover {
    background-color: #21283442;
}

.selling-button-next:hover path,
.selling-button-prev:hover path {
    stroke: #5198df;
}

.selling-button-next path,
.selling-button-prev path {
    stroke: #df6951;
}

.selling-button-next svg {
    transform: rotate(270deg);
}

.selling-button-prev svg {
    transform: rotate(90deg);
}

.swiper-button-disabled.selling-button-next path,
.swiper-button-disabled.selling-button-prev path {
    stroke: transparent;

}

.swiper-button-disabled.selling-button-next,
.swiper-button-disabled.selling-button-prev {
    background: transparent;
    cursor: auto;
}

.swiper-button-disabled.selling-button-next:hover path,
.swiper-button-disabled.selling-button-prev:hover path {
    stroke: #e1d9e1;
}

.selling__scrollbar {
    display: none;
}

.selling__scrollbar.swiper-scrollbar {
    position: static;
    width: 100%;
    height: 7px;
    margin-top: 50px;
    border-radius: 30px;

}

.swiper-scrollbar .swiper-scrollbar-drag {
    display: none;
}

/* ------ */

.agile {
    margin-bottom: 200px;
}

.agile__inner {
    display: grid;
    grid-template-columns: 1fr .6fr;
    max-width: 1114px;
    position: relative;
}

.agile__decore {
    position: absolute;
    z-index: -1;
    top: -200px;
    right: -150px;
    opacity: .4;
}

.agilr__info {
    max-width: 511px;
}

.agile__title {
    color: var(--title-color);
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 30px;
}

.operations {
    max-width: 395px;
}

.address {
    display: flex;
    gap: 20px;
}

.address__img {
    background: #F0BB1F;
    display: flex;
    border-radius: 13px;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

    margin-bottom: 48px;
}

.payment {
    display: flex;
    gap: 20px;
}

.payment__img {
    background: #F15A2B;
    display: flex;
    border-radius: 13px;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

    margin-bottom: 48px;

}

.arrival {
    display: flex;
    gap: 20px;
}

.arrival__img {
    background: #006380;
    display: flex;
    border-radius: 13px;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.address__title {
    color: var(--accent-color);
    font-size: 16px;
    font-weight: 700;
    line-height: var(--line-haight);
    margin-bottom: 4px;
}

.address__text {
    color: var(--accent-color);
    font-size: 16px;
    font-weight: 400;
    line-height: var(--line-haight);
}


.agile__plan {
    margin-top: 30px;
    max-width: 370px;
    max-height: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 26px;
    box-shadow: 0px 1.85px 3.15px 0px #00000000, 0px 8.15px 6.52px 0px #00000003, 0px 20px 13px 0px #00000003, 0px 38.52px 25.48px 0px #00000003, 0px 64.81px 46.85px 0px #00000005, 0px 100px 80px 0px #00000005;
    padding: 25px;
    position: relative;
}

.plan__img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

.plan__img img {
    width: 100%;
}

.plan__title {
    color: #080809;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: var(--line-haight);
    padding-bottom: 13px;
}

.plan__text {
    color: #84829a;
    font-size: 16px;
    font-weight: 500;
    line-height: var(--line-haight)
}

.plan__icons {
    display: flex;
    gap: 18px;
    margin: 21px 0 30px;
}

.plan__icon {
    width: 36px;
    border-radius: 50%;
    height: 36px;
    display: flex;
    background-color: #F5F5F5;
    justify-content: center;
    align-items: center;
}

.plan__icon svg {
    flex-shrink: 0;
}

.send svg {
    margin-top: 7px;
    flex-shrink: 0;
}

.plan__interested {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.plan__interested p {
    color: #84829a;
    font-size: 16px;
    font-weight: 500;
    line-height: var(--line-haight);
}

.agile__ongoing {
    position: absolute;
    bottom: 50px;
    right: -115px;
    display: flex;
    max-width: 263px;
    width: 100%;
    gap: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0px 1.85px 3.15px 0px #00000000, 0px 8.15px 6.52px 0px #00000003, 0px 20px 13px 0px #00000003, 0px 38.52px 25.48px 0px #00000003, 0px 64.81px 46.85px 0px #00000005, 0px 100px 80px 0px #00000005;
}

.ongoing__img img {
    max-width: 47px;
    border-radius: 50%;
}

.ongoing__text {
    color: #84829a;
    font-size: 14px;
    font-weight: 500;
    line-height: var(--line-haight);
}

.ongoing__title {
    color: #080809;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: var(--line-haight);
    margin: 6px 0 14px;
}

.ongoing__completed {
    font-size: 14px;
    font-weight: 500;
    line-height: var(--line-haight);
    color: #080809;
    display: flex;
}

.line {
    display: flex;
    margin-top: 10px;
    justify-content: start;
}

.line::after {
    content: '';
    width: 100px;
    height: 5px;
    border-radius: 30px;
    background: #f5f5f5;
}

.line::before {
    content: '';
    width: 73px;
    height: 5px;
    border-radius: 30px;
    background: #8a79df;
}

.ongoing__completed-title {
    color: #8A79DF;
}

/* ------ */

.testimonials {
    margin-bottom: 96px;
}

.testimonials__inner {
    max-width: 1165px;
    gap: 100px;
    display: flex;
    justify-content: space-between;
}

.testimonials__info {
    max-width: 410px;
    width: 100%;
    max-height: 360px;
}

.testimonials__title {
    color: var(--title-color);
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 82px;
}

.testimonials__pagination {
    --swiper-theme-color: #39425D;
    display: flex;
    gap: 13px;
}

.testimonials__slide {
    max-width: 500px;
    width: 100%;
    margin-left: 20px;
    border-radius: 30px 10px 10px 10px;
    background-color: #fff;
    box-shadow: 0px 1.85px 3.15px 0px #00000000, 0px 8.15px 6.52px 0px #00000003, 0px 2px 13px 0px #00000003, 0px 3.52px 2.48px 0px #00000003, 0px 4.81px 4.85px 0px #00000005, 0px 10px 80px 0px #00000005;
}
.swiper-cards .swiper-slide{
    overflow: visible;
}

.testimonials__client {
    max-width: 504px;
    position: relative;
    padding: 34px;
}

.testimonials__client-img {

    position: absolute;
    top: -30px;
    left: -35px;
}

.testimonials__client-img img {
    border-radius: 50%;
}

.testimonials__client-feedback {
    color: var(--accent-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
}

.testimonials__client-name {
    color: var(--accent-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin: 34px 0 5px;
}

.testimonials__client-place {
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

.button-prev {
    transform: rotate(180deg);
    margin: 140px 0 30px;
}

.prev-next {
    display: flex;
    flex-direction: column;
}

.swiper-button-disabled.button-next path,
.swiper-button-disabled.button-prev path {
    stroke: #e1d9e1;
}

.swiper-button-disabled.button-next:hover,
.swiper-button-disabled.button-prev:hover {
    background: transparent;
}

.swiper-button-disabled.button-next:hover path,
.swiper-button-disabled.button-prev:hover path {
    stroke: #e1d9e1;
}

/* ------ */
.company {
    padding: 50px 0 111px;
}

.company__inner {
    margin: 64px 0 67px;
    transition: var(--teansition);
}
.company__img {
    background: #fff;
    max-width: 190px;
    position: relative;
    width: 100%;
    padding: 0 10px 10px;
}

.company__img:hover {
    animation: company__hover .5s;
    box-shadow: 0px 1.85px 3.15px 0px #00000000, 0px 8.15px 6.52px 0px #00000003, 0px 20px 13px 0px #00000003, 0px 38.52px 25.48px 0px #00000003, 0px 64.81px 46.85px 0px #00000005, 0px 100px 80px 0px #00000005;
}

@keyframes company__hover {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}

.company__list {
    transition: var(--teansition);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 90px;
}



/* --------- */

.subscribe {
    padding-bottom: 166px;
    position: relative;
    z-index: 1;
}

.subscribe__inner {
    position: relative;
    z-index: 1;
}

.subscribe__decore {
    position: absolute;
    top: 300px;
    right: -90px;
}

.subscribe-decore1 {
    position: absolute;
    bottom: 0;
    left: 30px;
    height: 270px;
    z-index: -1;
    overflow: hidden;
    opacity: .1;
}

.subscribe-decore {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 210px;
    overflow: .1;
    opacity: .1;
    overflow: hidden;
}


.subscribe__content {
    border-radius: 129px 20px 20px;
    background: #dfd7f933;
    max-height: 407px;
    height: 100%;
    position: relative;
}

.subscribe__text {
    padding-top: 74px;
    margin: 0 auto 74px;
    color: var(--accent-color);
    font-size: 33px;
    font-weight: 600;
    line-height: 54px;
    max-width: 880px;
    text-align: center;



}

.lable-input {
    display: flex;
    justify-content: center;
    padding-bottom: 78px;

}

.subscribe__label {
    display: block;
    max-width: 420px;
    width: 100%;
    position: relative;
}

.subscribe__label span {
    position: absolute;
    font-size: 11px;
    top: 12px;
    left: 28px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);

}

.subscribe__input {
    display: block;
    border: 1px solid var(--accent-text);
    padding: 5px 5px 0px;
    border-radius: 10px;
    max-width: 420px;
    width: 100%;
    font-size: 16px;
    transition: var(--transition);
    max-height: 68px;
    height: 68px;
}

.subscribe__input::placeholder {
    padding-left: 60px;
    background: url(../image/icons/mail.png) 30px no-repeat;
    transition: var(--transition);
    color: rgb(57, 66, 93);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.subscribe__input:focus {
    padding: 26px 28px 12px 28px;
}

.subscribe__input:focus.subscribe__input::placeholder {
    padding-left: 0;
    background: url(../image/icons/mail.png) -30px no-repeat;
}

.subscribe__input:focus+span {
    visibility: visible;
    opacity: 1;
}

.subscribe__button {
    border-radius: 10px;
    max-width: 180px;
    width: 100%;
    margin-left: 24px;
    background: linear-gradient(180.00deg, #ff946d, #ff7d68 100%);
}

.subscribe__button:hover {
    background: linear-gradient(180.00deg, #fcb59c, #ffa968 100%);
}

.subscribe__button p {
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 600;
    line-height: 23px;
}

.subscribe__img {
    position: absolute;
    top: -15px;
    right: -20px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(216.20deg, #747def 13.888%, #5e3be1 100%);
}


/* ------- */
.footer__inner {
    gap: 40px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr .8fr .8fr .8fr 1fr;
    position: relative;
}

.footer__decore {
    position: absolute;
    top: 150px;
    right: -540px;
}

.footer__col {
    margin-top: 20px;
}

.footer__col:first-child {
    margin-top: 0;
    max-width: 207px;
}

.footer__logo {
    color: #181e4b;
    font-size: 44px;
    font-weight: 500;
    line-height: 66px;
    margin-bottom: 30px;
}

.footer__logo-text {
    color: var(--accent-color);
    font-size: 13px;
    font-weight: 500;
    line-height: var(--line-haight);
    margin-top: 20px;
}

.footer__col-title {
    color: #080809;
    font-family: 'Poppins';
    font-size: 21px;
    font-weight: 700;
    line-height: var(--line-haight);
    margin-bottom: 34px;
}

.footer__col-item {

    margin-bottom: 14px;
}

.footer__col-link {
    color: var(--accent-color);
    font-size: 18px;
    font-weight: 500;
    line-height: var(--line-haight);
}

.footer__col-link:last-child {
    margin-bottom: 0;
}

.socials {
    margin-bottom: 26px;
}

.socials__list {
    display: flex;
    justify-content: start;
    gap: 25px;
}

.socials__item {
    display: flex;
    box-shadow: 0px 2px 10px 0px #0000001a;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.socials__link {
    padding: 15px;
}

.inst {
    background: conic-gradient(from 180deg at 50% 50%, #b8d2f1, #f289aa, #c68bf0, #d164da, #c963e8, #bfc2e8, #ffc999, #d0d8c9, #bad0f1, #ced8cb, #ffffff00);
}

.rights {
    text-align: center;
    margin: 86px auto;
}

.discover p {
    color: var(--accent-color);
    font-size: 20px;
    font-weight: 500;
    line-height: var(--line-haight);
    margin-bottom: 16px;
}

/* ----- */
/* ----- */
/* ----- */
@media (max-width:1350px) {
    .agile__ongoing {
        display: none;
    }

}

@media (max-width:1200px) {

    .category__list {
        grid-template-columns: repeat(3, 1fr);
    }

    .selling-button-next {
        right: 0;
    }

    .testimonials__slide {
        max-width: 360px;
    }

    .footer__inner {
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
    }

    .socials__list {
        justify-content: center;
    }

    .img__decore {
        display: none;
    }

    .footer__col:last-child {
        grid-column: 1/-1;
    }

}

@media (max-width:1100px) {
    .img-decor {
        display: none;
    }

    .hero__inner {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero__text {
        margin: 0 auto 40px;
    }

    .flex {
        justify-content: center;
    }

    .nav__list {
        gap: 45px;
    }

    .hero__img {
        display: none;
    }

    .subscribe__content {
        max-height: 600px;
        padding: 15px;
    }

    .agile__decore {
        display: none;
    }

    .subscribe__decore {
        display: none;
    }

    .footer__decore {
        display: none;
    }
}

@media (max-width:900px) {
    .nav {
        font-size: 24px;
        background-color: var(--bg-color);
        position: fixed;
        inset: 0;
        display: flex;
        padding: 12vh 15px 30px;
        z-index: 10;
        flex-direction: column;
        transition: var(--transition);
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    .category__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .selling__info {
        grid-template-columns: 1fr .8fr;
    }

    .agile__inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .testimonials__inner {
        flex-direction: column;
    }

    .testimonials__info {
        max-width: none;
        text-align: center;
        margin-bottom: 40px;
    }

    .testimonials__slide {
        max-width: 700px;
        margin-left: auto;
    }

    .prev-next {
        justify-content: center;
        flex-direction: row;
        gap: 100px;
    }

    .button-next {
        transform: rotate(270deg);
    }

    .button-prev {
        margin: 10px;
        transform: rotate(90deg);
    }

    .subscribe__text {
        max-width: 600px;
        font-size: 24px;
    }

    .subscribe__input {
        max-height: 48px;
    }

    .subscribe__button {
        max-width: 140px;
    }

    .company__list {
        flex-direction: column;
    }

    .selling-button-prev {
        width: 70px;
    }

    .selling-button-next {
        width: 70px;
    }

    .footer__inner {
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }

    .footer__col:nth-child(4) {
        grid-column: 1/3;
    }

    .footer__col:last-child {
        grid-column: 3/-1;
    }

    .socials__list {
        justify-content: center;
    }

}

@media (max-width:600px) {
    .hero__title {
        font-size: 50px;
    }

    .block {
        gap: 12px;
    }

    .flex {
        display: grid;

    }

    .sing-up {
        padding: 5px;
        font-size: 12px;
    }

    .header__img {
        display: grid;
        max-width: 100px;
    }

    .header__top-inner {
        align-items: baseline;
    }

    .category__title {
        font-size: 36px;
        text-align: center;
    }

    .category__list {
        grid-template-columns: auto;
    }

    .category__item {
        max-width: 200px;
    }

    .category__item:hover::before {
        display: none;
    }

    .category__item:hover {
        max-width: 200px;
    }

    .selling__title {
        font-size: 40px;
        text-align: center;
    }

    .selling__slider {
        max-width: 77vw;
    }

    .selling-slide {
        max-width: 75vw;
    }

    .agile__title {
        font-size: 40px;
    }

    .testimonials__title {
        font-size: 36px;
    }

    .lable-input {
        flex-direction: column;
    }

    .subscribe__label {
        margin: 10px auto;
    }

    .subscribe__button {
        max-width: 140px;
        text-align: center;
        margin: 10px auto;
        height: 60px;
    }

    .footer__col:first-child {
        text-align: center;
        margin: 0 auto;
    }

    .footer__inner {
        display: flex;
        flex-direction: column;
    }

}