:root {
    --accent-text: #1F1711;
    --accent-color: #FFA55C;
    --accent-bg: #FFE0CB;
    --general-bg: #FFF9F4;
    --general-text: #312C27;
    --teansition: all .4s;
    --border-radius: 20px;
}

.body {
    background-color: var(--general-bg);
    color: var(--general-text);
    font-family: "Montserrat";
    line-height: 1.5;
}

.body--opened-menu {
    overflow: hidden;
}

.body-opened--modal {
    overflow: hidden;
}

.wraape {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.main__about {
    padding: 140px 0;
}

.main__program,
.main__gallary   {
    padding-bottom: 145px;
}


.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.title {
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: .82;
    color: var(--accent-text);
}

.button {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    border-radius: 60px;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 15px;
    height: 62px;
    transition: var(--teansition)
}

.button:hover {
    background-color: #FF9138;
}

/* ========================================================= */
.modal {
    position: fixed;
    inset: 0;
    background: #00000070;
    z-index: 10;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .6s;
    opacity: 0;
    visibility: hidden;
}

.body-opened--modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    background-color: var(--general-bg);
    border-radius: var(--border-radius);
    padding: 0 60px 60px;
    position: relative;
    max-width: 428px;
}

.modal__consel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__consel path, rect {
    transition: var(--teansition);
}

.modal__consel:hover path,
.modal__consel:hover rect {
    stroke: #AC907A;
}

.modal__img {
    margin: -65px 0 15px 13px;
    max-width: 100%;
}

.modal__title {
    font-size: 42px;
    line-height: .9;
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}

.modal__form--label {
    margin-bottom: 10px;
}

.field {
    position: relative;
    display: block;
}

.field span {
    position: absolute;
    font-size: 11px;
    color: #AC907A;
    top: 12px;
    left: 28px;
    opacity: 0;
    visibility: hidden;
    transition: var(--teansition);
}

.field__input {
    font-size: 16px;
    display: block;
    width: 100%;
    border: 1px solid #ac907a;
    border-radius: 100px;
    padding: 19px 28px;
    transition: var(--teansition)
}

.field__input::placeholder {
    color: #AC907A;
    transition: var(--teansition)
}

.field__input:hover {
    border-color: var(--accent-color);
}

.field__input:hover::placeholder,
.field__input:focus::placeholder {
    color: var(--accent-color);
}

.field__input:focus {
    border-color: var(--accent-color);
    padding: 26px 28px 12px 28px;
}

.field__input:focus+span {
    visibility: visible;
    opacity: 1;
}